.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.doggo {
  animation: App-logo-spin infinite 8s linear;
  height: 40vh;
  pointer-events: none;
}

@keyframes App-logo-spin {
  0% {
    transform: translate(calc((100vw - 40vh) / 2))
  }
  25% {
    transform: translate(calc(100vw - 40vh), 30vh)
  }
  50% {
    transform: translate(calc((100vw - 40vh) / 2), 60vh)
  }
  75% {
    transform: translate(0, 30vh)
  }
  100%{
    transform: translate(calc((100vw - 40vh) / 2))
  }
}
